<header>
  <!-- {% include language_select.html %} -->
  <div class="row pt-1">
    <h1 class="col" id="myName"><a class="nav-link" href="{{ site.url }}">Önder Emre Arıkan</a></h1>
    <ul id="topNav" class="col nav nav-pills d-flex align-self-center justify-content-end">
      <li class="nav-item">
        <a class="nav-link" href="CV.html">CV</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contact.html">Contact</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="blog.html">Blog</a>
      </li> -->
    </ul>
  </div>
  <hr>
</header>
